.window-list-box {
    spacing: 6px;
    -title-format: trad;
}

.app-window-switcher {
    spacing: 4px;
}

.app-window-switcher-divider {
    border-left: 1px;
    border-color: #ffffff;
}

.window-thumbnail {
    margin-left: 4px;
    padding: 6px;
    border-radius: 4px;
}

.window-thumbnail:hover {
    background-color: #4c4c4c;
}
